<p>{{collections.APIEndpoints}}</p>

<p>All Videos :: <a href="{{collections.AllVideos}}">{{collections.AllVideos}}</a></p>
<p>Videos Being Uploaded:: <a href="{{collections.BeingUploaded}}">{{collections.BeingUploaded}}</a></p>

<p>Video Charges :: <a href="{{collections.Charges}}">{{collections.Charges}}</a></p>
<p>Videos Size Filter :: <a href="{{collections.FilterBySizeRange}}">{{collections.FilterBySizeRange}}</a></p>

<p>Videos Date Filter :: <a href="{{collections.FilterByUploadedDate}}">{{collections.FilterByUploadedDate}}</a></p>

<p>Upload Video :: <a href="{{collections.VideoUpload}}">{{collections.VideoUpload}}</a></p>